
@font-face {

    font-display:block;
    font-family:"octicons";
    src: /*url(./fonts/octicon.woff2) format("woff2"),*/ url(./fonts/octicon.woff) format("woff");
}
.oi::before,
[class^="oi-"]::before,
[class*="oi-"]::before {
    display:inline-block;
    font-family: octicons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antiailiased;
    -mos-osx-font-smoothing: grayscale
}
.oi-hourglass-16::before { content: "\f57345"; }
.oi-codespaces-24::before { content: "\f57346"; }
.oi-shield-16::before { content: "\f57347"; }
.oi-horizontal-rule-16::before { content: "\f57348"; }
.oi-fold-24::before { content: "\f57349"; }
.oi-pivot-column-16::before { content: "\f57350"; }
.oi-infinity-24::before { content: "\f57351"; }
.oi-container-16::before { content: "\f57352"; }
.oi-no-entry-24::before { content: "\f57353"; }
.oi-arrow-down-right-16::before { content: "\f57354"; }
.oi-paper-airplane-24::before { content: "\f57355"; }
.oi-video-16::before { content: "\f57356"; }
.oi-file-diff-24::before { content: "\f57357"; }
.oi-redo-24::before { content: "\f57358"; }
.oi-hash-16::before { content: "\f57359"; }
.oi-tab-external-24::before { content: "\f57360"; }
.oi-search-24::before { content: "\f57361"; }
.oi-container-24::before { content: "\f57362"; }
.oi-repo-push-16::before { content: "\f57363"; }
.oi-git-pull-request-draft-16::before { content: "\f57364"; }
.oi-stack-16::before { content: "\f57365"; }
.oi-unread-24::before { content: "\f57366"; }
.oi-table-24::before { content: "\f57367"; }
.oi-skip-16::before { content: "\f57368"; }
.oi-sponsor-tiers-24::before { content: "\f57369"; }
.oi-repo-deleted-16::before { content: "\f57370"; }
.oi-arrow-left-16::before { content: "\f57371"; }
.oi-apps-24::before { content: "\f57372"; }
.oi-chevron-up-16::before { content: "\f57373"; }
.oi-feed-forked-16::before { content: "\f57374"; }
.oi-code-of-conduct-16::before { content: "\f57375"; }
.oi-chevron-right-16::before { content: "\f57376"; }
.oi-credit-card-24::before { content: "\f57377"; }
.oi-database-16::before { content: "\f57378"; }
.oi-diff-added-24::before { content: "\f57379"; }
.oi-checklist-24::before { content: "\f57380"; }
.oi-tracked-by-closed-completed-24::before { content: "\f57381"; }
.oi-smiley-16::before { content: "\f57382"; }
.oi-note-16::before { content: "\f57383"; }
.oi-hash-24::before { content: "\f57384"; }
.oi-key-asterisk-16::before { content: "\f57385"; }
.oi-apps-16::before { content: "\f57386"; }
.oi-feed-pull-request-open-16::before { content: "\f57387"; }
.oi-meter-24::before { content: "\f57388"; }
.oi-dot-fill-24::before { content: "\f57389"; }
.oi-diff-removed-24::before { content: "\f57390"; }
.oi-desktop-download-24::before { content: "\f57391"; }
.oi-organization-16::before { content: "\f57392"; }
.oi-archive-16::before { content: "\f57393"; }
.oi-accessibility-16::before { content: "\f57394"; }
.oi-x-24::before { content: "\f57395"; }
.oi-diff-modified-24::before { content: "\f57396"; }
.oi-git-pull-request-closed-24::before { content: "\f57397"; }
.oi-sliders-24::before { content: "\f57398"; }
.oi-mark-github-24::before { content: "\f57399"; }
.oi-git-commit-16::before { content: "\f57400"; }
.oi-feed-issue-reopen-16::before { content: "\f57401"; }
.oi-pin-16::before { content: "\f57402"; }
.oi-code-review-16::before { content: "\f57403"; }
.oi-square-circle-16::before { content: "\f57404"; }
.oi-triangle-up-24::before { content: "\f57405"; }
.oi-pivot-column-24::before { content: "\f57406"; }
.oi-strikethrough-24::before { content: "\f57407"; }
.oi-shield-check-16::before { content: "\f57408"; }
.oi-versions-24::before { content: "\f57409"; }
.oi-project-roadmap-24::before { content: "\f57410"; }
.oi-tab-external-16::before { content: "\f57411"; }
.oi-project-template-24::before { content: "\f57412"; }
.oi-link-24::before { content: "\f57413"; }
.oi-question-16::before { content: "\f57414"; }
.oi-share-16::before { content: "\f57415"; }
.oi-discussion-outdated-16::before { content: "\f57416"; }
.oi-undo-16::before { content: "\f57417"; }
.oi-terminal-16::before { content: "\f57418"; }
.oi-law-24::before { content: "\f57419"; }
.oi-chevron-left-24::before { content: "\f57420"; }
.oi-cross-reference-24::before { content: "\f57421"; }
.oi-filter-24::before { content: "\f57422"; }
.oi-report-16::before { content: "\f57423"; }
.oi-zap-16::before { content: "\f57424"; }
.oi-home-fill-24::before { content: "\f57425"; }
.oi-device-camera-16::before { content: "\f57426"; }
.oi-download-16::before { content: "\f57427"; }
.oi-question-24::before { content: "\f57428"; }
.oi-ellipsis-24::before { content: "\f57429"; }
.oi-diff-16::before { content: "\f57430"; }
.oi-redo-16::before { content: "\f57431"; }
.oi-markdown-16::before { content: "\f57432"; }
.oi-feed-trophy-16::before { content: "\f57433"; }
.oi-plug-16::before { content: "\f57434"; }
.oi-feed-star-16::before { content: "\f57435"; }
.oi-columns-16::before { content: "\f57436"; }
.oi-repo-pull-16::before { content: "\f57437"; }
.oi-diff-ignored-24::before { content: "\f57438"; }
.oi-beaker-16::before { content: "\f57439"; }
.oi-diamond-24::before { content: "\f57440"; }
.oi-diff-ignored-16::before { content: "\f57441"; }
.oi-tasklist-16::before { content: "\f57442"; }
.oi-ai-model-24::before { content: "\f57443"; }
.oi-checklist-16::before { content: "\f57444"; }
.oi-image-16::before { content: "\f57445"; }
.oi-shield-24::before { content: "\f57446"; }
.oi-eye-closed-16::before { content: "\f57447"; }
.oi-diff-renamed-24::before { content: "\f57448"; }
.oi-sun-16::before { content: "\f57449"; }
.oi-play-24::before { content: "\f57450"; }
.oi-file-zip-24::before { content: "\f57451"; }
.oi-gift-24::before { content: "\f57452"; }
.oi-bell-24::before { content: "\f57453"; }
.oi-home-16::before { content: "\f57454"; }
.oi-file-24::before { content: "\f57455"; }
.oi-passkey-fill-24::before { content: "\f57456"; }
.oi-discussion-closed-24::before { content: "\f57457"; }
.oi-telescope-fill-16::before { content: "\f57458"; }
.oi-feed-pull-request-closed-16::before { content: "\f57459"; }
.oi-server-24::before { content: "\f57460"; }
.oi-plus-circle-16::before { content: "\f57461"; }
.oi-cache-24::before { content: "\f57462"; }
.oi-file-submodule-16::before { content: "\f57463"; }
.oi-check-16::before { content: "\f57464"; }
.oi-feed-tag-16::before { content: "\f57465"; }
.oi-share-android-16::before { content: "\f57466"; }
.oi-columns-24::before { content: "\f57467"; }
.oi-table-16::before { content: "\f57468"; }
.oi-flame-24::before { content: "\f57469"; }
.oi-single-select-24::before { content: "\f57470"; }
.oi-bookmark-slash-16::before { content: "\f57471"; }
.oi-x-16::before { content: "\f57472"; }
.oi-cross-reference-16::before { content: "\f57473"; }
.oi-file-submodule-24::before { content: "\f57474"; }
.oi-clock-16::before { content: "\f57475"; }
.oi-git-pull-request-draft-24::before { content: "\f57476"; }
.oi-number-24::before { content: "\f57477"; }
.oi-people-24::before { content: "\f57478"; }
.oi-sort-asc-16::before { content: "\f57479"; }
.oi-alert-24::before { content: "\f57480"; }
.oi-copilot-16::before { content: "\f57481"; }
.oi-people-16::before { content: "\f57482"; }
.oi-chevron-up-12::before { content: "\f57483"; }
.oi-chevron-down-12::before { content: "\f57484"; }
.oi-shield-x-16::before { content: "\f57485"; }
.oi-report-24::before { content: "\f57486"; }
.oi-sparkle-fill-24::before { content: "\f57487"; }
.oi-sync-24::before { content: "\f57488"; }
.oi-cpu-24::before { content: "\f57489"; }
.oi-checkbox-24::before { content: "\f57490"; }
.oi-diff-added-16::before { content: "\f57491"; }
.oi-broadcast-24::before { content: "\f57492"; }
.oi-issue-reopened-24::before { content: "\f57493"; }
.oi-feed-repo-16::before { content: "\f57494"; }
.oi-terminal-24::before { content: "\f57495"; }
.oi-read-24::before { content: "\f57496"; }
.oi-command-palette-16::before { content: "\f57497"; }
.oi-feed-rocket-16::before { content: "\f57498"; }
.oi-file-moved-16::before { content: "\f57499"; }
.oi-light-bulb-16::before { content: "\f57500"; }
.oi-ruby-24::before { content: "\f57501"; }
.oi-repo-pull-24::before { content: "\f57502"; }
.oi-mirror-16::before { content: "\f57503"; }
.oi-blocked-16::before { content: "\f57504"; }
.oi-git-compare-24::before { content: "\f57505"; }
.oi-rocket-24::before { content: "\f57506"; }
.oi-fold-down-16::before { content: "\f57507"; }
.oi-bug-24::before { content: "\f57508"; }
.oi-workflow-16::before { content: "\f57509"; }
.oi-north-star-24::before { content: "\f57510"; }
.oi-dash-16::before { content: "\f57511"; }
.oi-thumbsup-16::before { content: "\f57512"; }
.oi-tracked-by-closed-not-planned-16::before { content: "\f57513"; }
.oi-repo-forked-16::before { content: "\f57514"; }
.oi-move-to-top-16::before { content: "\f57515"; }
.oi-shield-lock-16::before { content: "\f57516"; }
.oi-fold-down-24::before { content: "\f57517"; }
.oi-screen-full-24::before { content: "\f57518"; }
.oi-squirrel-24::before { content: "\f57519"; }
.oi-repo-clone-16::before { content: "\f57520"; }
.oi-paperclip-24::before { content: "\f57521"; }
.oi-paintbrush-16::before { content: "\f57522"; }
.oi-sidebar-expand-16::before { content: "\f57523"; }
.oi-repo-16::before { content: "\f57524"; }
.oi-mention-24::before { content: "\f57525"; }
.oi-sync-16::before { content: "\f57526"; }
.oi-history-16::before { content: "\f57527"; }
.oi-unread-16::before { content: "\f57528"; }
.oi-file-zip-16::before { content: "\f57529"; }
.oi-cpu-16::before { content: "\f57530"; }
.oi-heart-24::before { content: "\f57531"; }
.oi-arrow-down-left-16::before { content: "\f57532"; }
.oi-eye-16::before { content: "\f57533"; }
.oi-feed-issue-open-16::before { content: "\f57534"; }
.oi-check-circle-24::before { content: "\f57535"; }
.oi-square-fill-24::before { content: "\f57536"; }
.oi-arrow-switch-16::before { content: "\f57537"; }
.oi-bookmark-16::before { content: "\f57538"; }
.oi-bell-fill-16::before { content: "\f57539"; }
.oi-chevron-left-12::before { content: "\f57540"; }
.oi-package-dependents-16::before { content: "\f57541"; }
.oi-bookmark-slash-24::before { content: "\f57542"; }
.oi-star-fill-24::before { content: "\f57543"; }
.oi-log-16::before { content: "\f57544"; }
.oi-typography-16::before { content: "\f57545"; }
.oi-blocked-24::before { content: "\f57546"; }
.oi-arrow-left-24::before { content: "\f57547"; }
.oi-chevron-right-24::before { content: "\f57548"; }
.oi-check-circle-16::before { content: "\f57549"; }
.oi-typography-24::before { content: "\f57550"; }
.oi-passkey-fill-16::before { content: "\f57551"; }
.oi-tools-24::before { content: "\f57552"; }
.oi-inbox-16::before { content: "\f57553"; }
.oi-heading-16::before { content: "\f57554"; }
.oi-copy-16::before { content: "\f57555"; }
.oi-feed-discussion-16::before { content: "\f57556"; }
.oi-video-24::before { content: "\f57557"; }
.oi-heart-fill-24::before { content: "\f57558"; }
.oi-paste-24::before { content: "\f57559"; }
.oi-sidebar-collapse-24::before { content: "\f57560"; }
.oi-mail-16::before { content: "\f57561"; }
.oi-package-dependencies-24::before { content: "\f57562"; }
.oi-goal-24::before { content: "\f57563"; }
.oi-tab-24::before { content: "\f57564"; }
.oi-issue-closed-16::before { content: "\f57565"; }
.oi-upload-16::before { content: "\f57566"; }
.oi-pencil-16::before { content: "\f57567"; }
.oi-device-mobile-16::before { content: "\f57568"; }
.oi-mortar-board-24::before { content: "\f57569"; }
.oi-copilot-96::before { content: "\f57570"; }
.oi-alert-fill-12::before { content: "\f57571"; }
.oi-mute-24::before { content: "\f57572"; }
.oi-hourglass-24::before { content: "\f57573"; }
.oi-star-24::before { content: "\f57574"; }
.oi-plus-24::before { content: "\f57575"; }
.oi-code-24::before { content: "\f57576"; }
.oi-rows-24::before { content: "\f57577"; }
.oi-repo-24::before { content: "\f57578"; }
.oi-triangle-down-16::before { content: "\f57579"; }
.oi-diff-renamed-16::before { content: "\f57580"; }
.oi-book-16::before { content: "\f57581"; }
.oi-screen-normal-16::before { content: "\f57582"; }
.oi-clock-fill-24::before { content: "\f57583"; }
.oi-diff-24::before { content: "\f57584"; }
.oi-duplicate-16::before { content: "\f57585"; }
.oi-lock-16::before { content: "\f57586"; }
.oi-duplicate-24::before { content: "\f57587"; }
.oi-no-entry-16::before { content: "\f57588"; }
.oi-copilot-24::before { content: "\f57589"; }
.oi-gear-24::before { content: "\f57590"; }
.oi-sliders-16::before { content: "\f57591"; }
.oi-file-added-24::before { content: "\f57592"; }
.oi-star-fill-16::before { content: "\f57593"; }
.oi-discussion-closed-16::before { content: "\f57594"; }
.oi-move-to-start-16::before { content: "\f57595"; }
.oi-calendar-24::before { content: "\f57596"; }
.oi-file-directory-24::before { content: "\f57597"; }
.oi-lock-24::before { content: "\f57598"; }
.oi-git-commit-24::before { content: "\f57599"; }
.oi-git-merge-queue-24::before { content: "\f57600"; }
.oi-file-directory-open-fill-16::before { content: "\f57601"; }
.oi-unlink-24::before { content: "\f57602"; }
.oi-info-24::before { content: "\f57603"; }
.oi-device-camera-video-24::before { content: "\f57604"; }
.oi-tracked-by-closed-not-planned-24::before { content: "\f57605"; }
.oi-fiscal-host-24::before { content: "\f57606"; }
.oi-telescope-24::before { content: "\f57607"; }
.oi-pin-slash-16::before { content: "\f57608"; }
.oi-tasklist-24::before { content: "\f57609"; }
.oi-rocket-16::before { content: "\f57610"; }
.oi-tools-16::before { content: "\f57611"; }
.oi-code-16::before { content: "\f57612"; }
.oi-bell-slash-24::before { content: "\f57613"; }
.oi-unmute-16::before { content: "\f57614"; }
.oi-dependabot-24::before { content: "\f57615"; }
.oi-git-pull-request-24::before { content: "\f57616"; }
.oi-fold-16::before { content: "\f57617"; }
.oi-person-16::before { content: "\f57618"; }
.oi-trash-16::before { content: "\f57619"; }
.oi-x-circle-16::before { content: "\f57620"; }
.oi-x-circle-fill-24::before { content: "\f57621"; }
.oi-single-select-16::before { content: "\f57622"; }
.oi-check-circle-fill-16::before { content: "\f57623"; }
.oi-device-camera-video-16::before { content: "\f57624"; }
.oi-inbox-24::before { content: "\f57625"; }
.oi-thumbsdown-24::before { content: "\f57626"; }
.oi-sun-24::before { content: "\f57627"; }
.oi-chevron-up-24::before { content: "\f57628"; }
.oi-chevron-down-16::before { content: "\f57629"; }
.oi-rel-file-path-24::before { content: "\f57630"; }
.oi-chevron-right-12::before { content: "\f57631"; }
.oi-file-binary-16::before { content: "\f57632"; }
.oi-issue-closed-24::before { content: "\f57633"; }
.oi-eye-24::before { content: "\f57634"; }
.oi-file-directory-symlink-16::before { content: "\f57635"; }
.oi-sponsor-tiers-16::before { content: "\f57636"; }
.oi-pin-slash-24::before { content: "\f57637"; }
.oi-markdown-24::before { content: "\f57638"; }
.oi-squirrel-16::before { content: "\f57639"; }
.oi-briefcase-24::before { content: "\f57640"; }
.oi-upload-24::before { content: "\f57641"; }
.oi-archive-24::before { content: "\f57642"; }
.oi-check-circle-fill-24::before { content: "\f57643"; }
.oi-sparkles-fill-24::before { content: "\f57644"; }
.oi-sidebar-expand-24::before { content: "\f57645"; }
.oi-arrow-up-left-24::before { content: "\f57646"; }
.oi-issue-tracked-by-24::before { content: "\f57647"; }
.oi-pencil-24::before { content: "\f57648"; }
.oi-link-16::before { content: "\f57649"; }
.oi-share-24::before { content: "\f57650"; }
.oi-diamond-16::before { content: "\f57651"; }
.oi-cloud-24::before { content: "\f57652"; }
.oi-project-roadmap-16::before { content: "\f57653"; }
.oi-list-ordered-16::before { content: "\f57654"; }
.oi-verified-16::before { content: "\f57655"; }
.oi-chevron-down-24::before { content: "\f57656"; }
.oi-tab-16::before { content: "\f57657"; }
.oi-italic-24::before { content: "\f57658"; }
.oi-package-dependencies-16::before { content: "\f57659"; }
.oi-arrow-both-24::before { content: "\f57660"; }
.oi-law-16::before { content: "\f57661"; }
.oi-cloud-16::before { content: "\f57662"; }
.oi-skip-fill-16::before { content: "\f57663"; }
.oi-sort-asc-24::before { content: "\f57664"; }
.oi-sort-desc-24::before { content: "\f57665"; }
.oi-unverified-24::before { content: "\f57666"; }
.oi-browser-16::before { content: "\f57667"; }
.oi-webhook-16::before { content: "\f57668"; }
.oi-moon-16::before { content: "\f57669"; }
.oi-rss-24::before { content: "\f57670"; }
.oi-diff-modified-16::before { content: "\f57671"; }
.oi-git-pull-request-16::before { content: "\f57672"; }
.oi-bookmark-slash-fill-16::before { content: "\f57673"; }
.oi-issue-draft-16::before { content: "\f57674"; }
.oi-arrow-right-16::before { content: "\f57675"; }
.oi-device-camera-24::before { content: "\f57676"; }
.oi-skip-fill-24::before { content: "\f57677"; }
.oi-square-16::before { content: "\f57678"; }
.oi-unmute-24::before { content: "\f57679"; }
.oi-code-square-16::before { content: "\f57680"; }
.oi-stop-16::before { content: "\f57681"; }
.oi-arrow-both-16::before { content: "\f57682"; }
.oi-fold-up-24::before { content: "\f57683"; }
.oi-paste-16::before { content: "\f57684"; }
.oi-id-badge-16::before { content: "\f57685"; }
.oi-key-16::before { content: "\f57686"; }
.oi-italic-16::before { content: "\f57687"; }
.oi-mark-github-16::before { content: "\f57688"; }
.oi-move-to-end-16::before { content: "\f57689"; }
.oi-zoom-in-16::before { content: "\f57690"; }
.oi-info-16::before { content: "\f57691"; }
.oi-bug-16::before { content: "\f57692"; }
.oi-pulse-24::before { content: "\f57693"; }
.oi-rows-16::before { content: "\f57694"; }
.oi-discussion-duplicate-16::before { content: "\f57695"; }
.oi-check-circle-fill-12::before { content: "\f57696"; }
.oi-bold-24::before { content: "\f57697"; }
.oi-shield-slash-24::before { content: "\f57698"; }
.oi-trophy-24::before { content: "\f57699"; }
.oi-checkbox-16::before { content: "\f57700"; }
.oi-sign-in-24::before { content: "\f57701"; }
.oi-download-24::before { content: "\f57702"; }
.oi-dot-24::before { content: "\f57703"; }
.oi-sign-out-24::before { content: "\f57704"; }
.oi-dependabot-16::before { content: "\f57705"; }
.oi-bell-fill-24::before { content: "\f57706"; }
.oi-quote-24::before { content: "\f57707"; }
.oi-arrow-down-16::before { content: "\f57708"; }
.oi-number-16::before { content: "\f57709"; }
.oi-bookmark-slash-fill-24::before { content: "\f57710"; }
.oi-repo-delete-24::before { content: "\f57711"; }
.oi-file-directory-symlink-24::before { content: "\f57712"; }
.oi-git-branch-24::before { content: "\f57713"; }
.oi-sign-in-16::before { content: "\f57714"; }
.oi-git-merge-24::before { content: "\f57715"; }
.oi-arrow-switch-24::before { content: "\f57716"; }
.oi-arrow-up-right-16::before { content: "\f57717"; }
.oi-graph-16::before { content: "\f57718"; }
.oi-triangle-down-24::before { content: "\f57719"; }
.oi-quote-16::before { content: "\f57720"; }
.oi-file-16::before { content: "\f57721"; }
.oi-copy-24::before { content: "\f57722"; }
.oi-unlink-16::before { content: "\f57723"; }
.oi-comment-16::before { content: "\f57724"; }
.oi-book-24::before { content: "\f57725"; }
.oi-logo-github-16::before { content: "\f57726"; }
.oi-plus-16::before { content: "\f57727"; }
.oi-bell-16::before { content: "\f57728"; }
.oi-codescan-checkmark-24::before { content: "\f57729"; }
.oi-feed-pull-request-draft-16::before { content: "\f57730"; }
.oi-arrow-right-24::before { content: "\f57731"; }
.oi-check-24::before { content: "\f57732"; }
.oi-circle-16::before { content: "\f57733"; }
.oi-key-24::before { content: "\f57734"; }
.oi-triangle-right-16::before { content: "\f57735"; }
.oi-project-24::before { content: "\f57736"; }
.oi-file-badge-24::before { content: "\f57737"; }
.oi-person-fill-16::before { content: "\f57738"; }
.oi-image-24::before { content: "\f57739"; }
.oi-accessibility-inset-24::before { content: "\f57740"; }
.oi-code-review-24::before { content: "\f57741"; }
.oi-unfold-16::before { content: "\f57742"; }
.oi-arrow-up-left-16::before { content: "\f57743"; }
.oi-copilot-48::before { content: "\f57744"; }
.oi-iterations-16::before { content: "\f57745"; }
.oi-strikethrough-16::before { content: "\f57746"; }
.oi-codescan-checkmark-16::before { content: "\f57747"; }
.oi-unlock-16::before { content: "\f57748"; }
.oi-grabber-16::before { content: "\f57749"; }
.oi-arrow-up-right-24::before { content: "\f57750"; }
.oi-plus-circle-24::before { content: "\f57751"; }
.oi-iterations-24::before { content: "\f57752"; }
.oi-codespaces-16::before { content: "\f57753"; }
.oi-thumbsdown-16::before { content: "\f57754"; }
.oi-square-circle-24::before { content: "\f57755"; }
.oi-tracked-by-closed-completed-16::before { content: "\f57756"; }
.oi-triangle-right-24::before { content: "\f57757"; }
.oi-pin-24::before { content: "\f57758"; }
.oi-arrow-up-16::before { content: "\f57759"; }
.oi-zoom-out-24::before { content: "\f57760"; }
.oi-file-symlink-file-16::before { content: "\f57761"; }
.oi-versions-16::before { content: "\f57762"; }
.oi-mute-16::before { content: "\f57763"; }
.oi-share-android-24::before { content: "\f57764"; }
.oi-fold-up-16::before { content: "\f57765"; }
.oi-infinity-16::before { content: "\f57766"; }
.oi-bell-slash-16::before { content: "\f57767"; }
.oi-arrow-down-24::before { content: "\f57768"; }
.oi-dot-16::before { content: "\f57769"; }
.oi-move-to-top-24::before { content: "\f57770"; }
.oi-file-added-16::before { content: "\f57771"; }
.oi-command-palette-24::before { content: "\f57772"; }
.oi-unlock-24::before { content: "\f57773"; }
.oi-log-24::before { content: "\f57774"; }
.oi-feed-public-16::before { content: "\f57775"; }
.oi-database-24::before { content: "\f57776"; }
.oi-heart-fill-16::before { content: "\f57777"; }
.oi-square-24::before { content: "\f57778"; }
.oi-note-24::before { content: "\f57779"; }
.oi-feed-issue-draft-16::before { content: "\f57780"; }
.oi-comment-24::before { content: "\f57781"; }
.oi-file-code-24::before { content: "\f57782"; }
.oi-verified-24::before { content: "\f57783"; }
.oi-rel-file-path-16::before { content: "\f57784"; }
.oi-move-to-end-24::before { content: "\f57785"; }
.oi-server-16::before { content: "\f57786"; }
.oi-project-symlink-16::before { content: "\f57787"; }
.oi-issue-opened-24::before { content: "\f57788"; }
.oi-skip-24::before { content: "\f57789"; }
.oi-arrow-down-right-24::before { content: "\f57790"; }
.oi-globe-24::before { content: "\f57791"; }
.oi-moon-24::before { content: "\f57792"; }
.oi-megaphone-16::before { content: "\f57793"; }
.oi-trophy-16::before { content: "\f57794"; }
.oi-file-directory-open-fill-24::before { content: "\f57795"; }
.oi-organization-24::before { content: "\f57796"; }
.oi-three-bars-24::before { content: "\f57797"; }
.oi-clock-24::before { content: "\f57798"; }
.oi-move-to-start-24::before { content: "\f57799"; }
.oi-workflow-24::before { content: "\f57800"; }
.oi-bold-16::before { content: "\f57801"; }
.oi-arrow-up-24::before { content: "\f57802"; }
.oi-alert-16::before { content: "\f57803"; }
.oi-eye-closed-24::before { content: "\f57804"; }
.oi-clock-fill-16::before { content: "\f57805"; }
.oi-paperclip-16::before { content: "\f57806"; }
.oi-zoom-out-16::before { content: "\f57807"; }
.oi-graph-24::before { content: "\f57808"; }
.oi-paper-airplane-16::before { content: "\f57809"; }
.oi-shield-check-24::before { content: "\f57810"; }
.oi-screen-full-16::before { content: "\f57811"; }
.oi-arrow-down-left-24::before { content: "\f57812"; }
.oi-sort-desc-16::before { content: "\f57813"; }
.oi-repo-forked-24::before { content: "\f57814"; }
.oi-x-circle-fill-16::before { content: "\f57815"; }
.oi-repo-template-16::before { content: "\f57816"; }
.oi-zoom-in-24::before { content: "\f57817"; }
.oi-gear-16::before { content: "\f57818"; }
.oi-circle-slash-16::before { content: "\f57819"; }
.oi-filter-remove-24::before { content: "\f57820"; }
.oi-tag-16::before { content: "\f57821"; }
.oi-project-symlink-24::before { content: "\f57822"; }
.oi-stack-24::before { content: "\f57823"; }
.oi-hubot-16::before { content: "\f57824"; }
.oi-chevron-left-16::before { content: "\f57825"; }
.oi-flame-16::before { content: "\f57826"; }
.oi-repo-locked-16::before { content: "\f57827"; }
.oi-broadcast-16::before { content: "\f57828"; }
.oi-file-removed-16::before { content: "\f57829"; }
.oi-git-merge-16::before { content: "\f57830"; }
.oi-kebab-horizontal-16::before { content: "\f57831"; }
.oi-bookmark-fill-24::before { content: "\f57832"; }
.oi-file-directory-fill-24::before { content: "\f57833"; }
.oi-plug-24::before { content: "\f57834"; }
.oi-feed-issue-closed-16::before { content: "\f57835"; }
.oi-move-to-bottom-16::before { content: "\f57836"; }
.oi-pulse-16::before { content: "\f57837"; }
.oi-horizontal-rule-24::before { content: "\f57838"; }
.oi-unfold-24::before { content: "\f57839"; }
.oi-bookmark-24::before { content: "\f57840"; }
.oi-reply-24::before { content: "\f57841"; }
.oi-sidebar-collapse-16::before { content: "\f57842"; }
.oi-milestone-16::before { content: "\f57843"; }
.oi-credit-card-16::before { content: "\f57844"; }
.oi-accessibility-24::before { content: "\f57845"; }
.oi-file-directory-16::before { content: "\f57846"; }
.oi-copilot-warning-16::before { content: "\f57847"; }
.oi-ruby-16::before { content: "\f57848"; }
.oi-key-asterisk-24::before { content: "\f57849"; }
.oi-discussion-duplicate-24::before { content: "\f57850"; }
.oi-browser-24::before { content: "\f57851"; }
.oi-file-directory-fill-16::before { content: "\f57852"; }
.oi-multi-select-16::before { content: "\f57853"; }
.oi-shield-lock-24::before { content: "\f57854"; }
.oi-cache-16::before { content: "\f57855"; }
.oi-feed-person-16::before { content: "\f57856"; }
.oi-codescan-24::before { content: "\f57857"; }
.oi-play-16::before { content: "\f57858"; }
.oi-tag-24::before { content: "\f57859"; }
.oi-file-removed-24::before { content: "\f57860"; }
.oi-issue-draft-24::before { content: "\f57861"; }
.oi-milestone-24::before { content: "\f57862"; }
.oi-location-24::before { content: "\f57863"; }
.oi-issue-reopened-16::before { content: "\f57864"; }
.oi-device-desktop-24::before { content: "\f57865"; }
.oi-codescan-16::before { content: "\f57866"; }
.oi-copilot-error-16::before { content: "\f57867"; }
.oi-link-external-16::before { content: "\f57868"; }
.oi-paintbrush-24::before { content: "\f57869"; }
.oi-desktop-download-16::before { content: "\f57870"; }
.oi-hubot-24::before { content: "\f57871"; }
.oi-triangle-left-16::before { content: "\f57872"; }
.oi-mirror-24::before { content: "\f57873"; }
.oi-megaphone-24::before { content: "\f57874"; }
.oi-list-unordered-24::before { content: "\f57875"; }
.oi-gift-16::before { content: "\f57876"; }
.oi-x-circle-24::before { content: "\f57877"; }
.oi-stop-24::before { content: "\f57878"; }
.oi-person-add-24::before { content: "\f57879"; }
.oi-issue-tracks-16::before { content: "\f57880"; }
.oi-repo-template-24::before { content: "\f57881"; }
.oi-triangle-left-24::before { content: "\f57882"; }
.oi-project-16::before { content: "\f57883"; }
.oi-comment-discussion-24::before { content: "\f57884"; }
.oi-light-bulb-24::before { content: "\f57885"; }
.oi-code-square-24::before { content: "\f57886"; }
.oi-comment-discussion-16::before { content: "\f57887"; }
.oi-repo-locked-24::before { content: "\f57888"; }
.oi-beaker-24::before { content: "\f57889"; }
.oi-list-ordered-24::before { content: "\f57890"; }
.oi-goal-16::before { content: "\f57891"; }
.oi-feed-heart-16::before { content: "\f57892"; }
.oi-sparkle-fill-16::before { content: "\f57893"; }
.oi-package-24::before { content: "\f57894"; }
.oi-zap-24::before { content: "\f57895"; }
.oi-north-star-16::before { content: "\f57896"; }
.oi-circle-slash-24::before { content: "\f57897"; }
.oi-sign-out-16::before { content: "\f57898"; }
.oi-file-moved-24::before { content: "\f57899"; }
.oi-ai-model-16::before { content: "\f57900"; }
.oi-person-add-16::before { content: "\f57901"; }
.oi-filter-remove-16::before { content: "\f57902"; }
.oi-meter-16::before { content: "\f57903"; }
.oi-globe-16::before { content: "\f57904"; }
.oi-devices-16::before { content: "\f57905"; }
.oi-shield-slash-16::before { content: "\f57906"; }
.oi-move-to-bottom-24::before { content: "\f57907"; }
.oi-kebab-horizontal-24::before { content: "\f57908"; }
.oi-package-dependents-24::before { content: "\f57909"; }
.oi-accessibility-inset-16::before { content: "\f57910"; }
.oi-issue-tracks-24::before { content: "\f57911"; }
.oi-mortar-board-16::before { content: "\f57912"; }
.oi-issue-opened-16::before { content: "\f57913"; }
.oi-project-template-16::before { content: "\f57914"; }
.oi-screen-normal-24::before { content: "\f57915"; }
.oi-alert-fill-16::before { content: "\f57916"; }
.oi-feed-merged-16::before { content: "\f57917"; }
.oi-logo-gist-24::before { content: "\f57918"; }
.oi-file-media-16::before { content: "\f57919"; }
.oi-alert-fill-24::before { content: "\f57920"; }
.oi-id-badge-24::before { content: "\f57921"; }
.oi-dash-24::before { content: "\f57922"; }
.oi-git-merge-queue-16::before { content: "\f57923"; }
.oi-package-16::before { content: "\f57924"; }
.oi-home-fill-16::before { content: "\f57925"; }
.oi-unverified-16::before { content: "\f57926"; }
.oi-file-symlink-file-24::before { content: "\f57927"; }
.oi-smiley-24::before { content: "\f57928"; }
.oi-heading-24::before { content: "\f57929"; }
.oi-file-media-24::before { content: "\f57930"; }
.oi-reply-16::before { content: "\f57931"; }
.oi-three-bars-16::before { content: "\f57932"; }
.oi-dot-fill-16::before { content: "\f57933"; }
.oi-circle-24::before { content: "\f57934"; }
.oi-repo-clone-24::before { content: "\f57935"; }
.oi-star-16::before { content: "\f57936"; }
.oi-stopwatch-16::before { content: "\f57937"; }
.oi-square-fill-16::before { content: "\f57938"; }
.oi-history-24::before { content: "\f57939"; }
.oi-telescope-fill-24::before { content: "\f57940"; }
.oi-git-pull-request-closed-16::before { content: "\f57941"; }
.oi-cloud-offline-24::before { content: "\f57942"; }
.oi-x-12::before { content: "\f57943"; }
.oi-feed-plus-16::before { content: "\f57944"; }
.oi-list-unordered-16::before { content: "\f57945"; }
.oi-multi-select-24::before { content: "\f57946"; }
.oi-file-binary-24::before { content: "\f57947"; }
.oi-discussion-outdated-24::before { content: "\f57948"; }
.oi-file-code-16::before { content: "\f57949"; }
.oi-fiscal-host-16::before { content: "\f57950"; }
.oi-mail-24::before { content: "\f57951"; }
.oi-home-24::before { content: "\f57952"; }
.oi-logo-github-24::before { content: "\f57953"; }
.oi-heart-16::before { content: "\f57954"; }
.oi-read-16::before { content: "\f57955"; }
.oi-devices-24::before { content: "\f57956"; }
.oi-thumbsup-24::before { content: "\f57957"; }
.oi-file-diff-16::before { content: "\f57958"; }
.oi-cloud-offline-16::before { content: "\f57959"; }
.oi-file-badge-16::before { content: "\f57960"; }
.oi-location-16::before { content: "\f57961"; }
.oi-git-branch-16::before { content: "\f57962"; }
.oi-undo-24::before { content: "\f57963"; }
.oi-mention-16::before { content: "\f57964"; }
.oi-filter-16::before { content: "\f57965"; }
.oi-device-mobile-24::before { content: "\f57966"; }
.oi-person-24::before { content: "\f57967"; }
.oi-git-compare-16::before { content: "\f57968"; }
.oi-diff-removed-16::before { content: "\f57969"; }
.oi-issue-tracked-by-16::before { content: "\f57970"; }
.oi-no-entry-fill-12::before { content: "\f57971"; }
.oi-search-16::before { content: "\f57972"; }
.oi-ellipsis-16::before { content: "\f57973"; }
.oi-triangle-up-16::before { content: "\f57974"; }
.oi-device-desktop-16::before { content: "\f57975"; }
.oi-rss-16::before { content: "\f57976"; }
.oi-calendar-16::before { content: "\f57977"; }
.oi-grabber-24::before { content: "\f57978"; }
.oi-stopwatch-24::before { content: "\f57979"; }
.oi-code-of-conduct-24::before { content: "\f57980"; }
.oi-telescope-16::before { content: "\f57981"; }
.oi-bookmark-filled-16::before { content: "\f57982"; }
.oi-person-fill-24::before { content: "\f57983"; }
.oi-link-external-24::before { content: "\f57984"; }
.oi-briefcase-16::before { content: "\f57985"; }
.oi-logo-gist-16::before { content: "\f57986"; }
.oi-repo-push-24::before { content: "\f57987"; }
.oi-sparkles-fill-16::before { content: "\f57988"; }
.oi-x-circle-fill-12::before { content: "\f57989"; }
.oi-shield-x-24::before { content: "\f57990"; }
.oi-trash-24::before { content: "\f57991"; }
