*.gem
*.lock
*.log
.DS_Store
.bundle
.env
node_modules
vendor

# Ignore build/export artifacts
lib/**/build/
lib/octicons_react/[A-Z]*.js
lib/octicons_react/[A-Z]*.d.ts
lib/octicons_react/icons
lib/octicons_react/src/icons
