* {
  @include box-sizing();
}

html {
  height: 100%;
}

body {
  font: normal normal 16px/1.6 "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  background-color: #fafafa;
  color: #444;
  height: 100%;
}

.footer-push {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -92px;
}

.footer-pad {
  height: 92px;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 928px;
  padding: 0 40px;
  margin: 0 auto;
}

.columns {
  display: table;
  width: 100%;

  .column {
    display: table-cell;
    vertical-align: top;

    &.sidebar {
      width: 288px;
    }

    &.main:last-child {
      padding-left: 40px;
    }
    &.main:first-child {
      padding-right: 40px;
    }
  }

  .third {
    width: 33.3%;
  }
}

header,
section,
footer {
  width: 100%;
  clear: both;
}

.header-actions {
  float: right;

  a {
    display: inline-block;
    color: #666;
    height: 37px;
    line-height: 37px;
    margin-left: 20px;

    &:hover {
      text-decoration: none;
      color: $brand-linkBlue;
    }
  }

  .octicon-mark-github {
    font-size: 22px;
  }
}

header {
  padding: 10px 0;
  background-color: #fff;
  margin-bottom: 40px;

  .mega-octicon, .octicon-logo {
    font-size: 32px;
    margin-right: 5px;
    height: 25px;
    overflow: hidden;
    margin-top: 5px;
    padding-left: 1px;
  }

  .logo {
    color: #444;
    display: inline-block;
    vertical-align: top;

    &:hover { color: #444; }
  }
}

.search {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  height: 37px;
  padding: 4px 0;
  z-index: 21;

  input {
    height: 30px;
    min-height: 30px;
    margin-left: 0;
  }

  .search-results {
    position: absolute;
    top: 32px;
    left: 0;
    display: none;

    &.is-showing {
      display: block;
    }
  }

  .select-menu-modal {
    width: 218px;
  }

  .select-menu-item.is-hidden {
    display: none;
  }
}

.show-off {
  padding: 10px 0 20px;

  .mega-octicon {
    color: #222;
    font-size: 128px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.75)));
    transition: 0.5s color ease-in;
    -webkit-transition: 0.5s color ease-in 0;
    -moz-transition: 0.5s color ease-in 0;
    -o-transition: 0.5s color ease-in 0;
    -transition: 0.5s color ease-in 0;
    cursor: pointer;

    &:hover { color: #4183C4; }
  }

}

.show-off, .lead {
  text-align: center; }

.lead {
  font-size: 2em;
  margin-top: 0;

  p { margin: 0; }
}

.usage, .changelog {
  pre, code {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    color: #333;

    .highlight { color: #333; }
  }
}

.usage {
  pre, code { color: #999; }
}

hr {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 40px 0;
}

.preview {
  display: none;
  position: fixed;
  top: 200px;
  left: 0;
  padding: 40px 40px 40px 80px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(#eee, .8);
  z-index: 5;

  .octicon {
    font-size: 200px;
    width: 200px;
    text-align: center;
  }

  &.is-showing { display: block; }
}

.intro {
  .download {
    margin-top: 40px;
    text-align: center;

    .version {
      font-size: 13px;
      color: #aaa;
      margin: 5px 0 0;
    }
  }
}

.footer {
  text-align: center;
  color: #aaa;
  font-size: 14px;
  padding: 15px 0;
  margin-top: 40px;
  background-color: #fff;

  .octicon {
    color: #aaa;
  }

  .made-with-heart{
    a {
      position: relative;
      top: 1px;
      text-decoration: none;
      color: #aaa;
      -webkit-transition: 0.2s color ease-in 0;
      -moz-transition: 0.2s color ease-in 0;
      -o-transition: 0.2s color ease-in 0;
      -transition: 0.2s color ease-in 0;

      &:hover { color: #333; }
    }
  }
}

.page-icon.mega-octicon {
  font-size: 256px;
  color: #ddd;
  width: 100%;
  text-align: center;
}

.select-menu-item-template {
  display: none;
}
