// Browser compatibility for box-sizing.
//
// Compatibility untested.
@mixin box-sizing($sizing: border-box) {
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

// A helper for making basic CSS3 transitions easy to implement
//
// Compatability untested

@mixin transition($time: 0.15s, $property: all, $timingFunc: ease-in, $delay: 0) {
  // Future Proof
  transition: $property $time $timingFunc;

  // WebKit based browsers
  -webkit-transition: $property $time $timingFunc $delay;
}

// Browser compatibility for user-select.
//
// Compatibility untested.
@mixin user-select($select: none) {
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

@mixin transform($prop) {
  -webkit-transform: $prop;
  -ms-transform: $prop;
  transform: $prop;
}

// Text hiding for image based text replacement.
// Higher performance than -9999px because it only renders
// the size of the actual text, not a full 9999px box.
//
// Compatible everywhere… probably.
@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Creates a linear gradient background, from top to bottom.
//
// $start - The color hex at the top.
// $end   - The color hex at the bottom.
//
// Compatibility untested.
@mixin gradient($start: #fafafa, $end: #eaeaea){
  background-color: $end;
  // FF 3.6+
  background-image: -moz-linear-gradient($start, $end);
  // Safari 5.1+, Chrome 10+
  background-image: -webkit-linear-gradient($start, $end);
  background-image: linear-gradient($start, $end);
  background-repeat: repeat-x;
}

// A clearfix suitable for modern browsers.
//
// Compatibility untested.
@mixin clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
