@font-face {
  font-family: 'octicons-logos';
  src: url('octicons-logos.eot');
  src: url('octicons-logos.eot#iefix') format('embedded-opentype'),
       url('octicons-logos.woff') format('woff'),
       url('octicons-logos.ttf') format('truetype'),
       url('octicons-logos.svg#octicons-logos') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

*/
.octicon-logo {
  font: normal normal 16px octicons-logos;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.mega-octicon-logo {
  font: normal normal 32px octicons-logos;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.octicon-logo-octicons:before { content: '\f0ab'} /*  */
