name: Deploy to production

on:
  push:
    branches:
      - main
    paths:
      - 'lib/**'
      - 'icons/**'
      - 'docs/**'
      - '.github/workflows/deploy*.yml'
      - 'package.json'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_deploy:
    name: Build and deploy
    uses: primer/.github/.github/workflows/deploy.yml@main
    with:
      node_version: 14
      install: yarn
      build: yarn build
      output_dir: docs/public
