name: Octicons Publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '18.x'
      - run: npm ci
      - run: npm run build
      - run: cp -r icons lib/build/svg
      - uses: actions/upload-artifact@master
        with:
          name: octicons
          path: ./lib/build
  gem:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@master
      - uses: actions/download-artifact@master
        with:
          name: octicons
          path: ./lib/build
      - uses: ./.github/actions/build_ruby
        env:
          RUBYGEMS_TOKEN: ${{ secrets.RUBYGEMS_TOKEN }}
        with:
          args: octicons_gem
      - run: ls ./lib/octicons_gem/pkg
      - uses: actions/upload-artifact@master
        with:
          name: octicons_gem
          path: ./lib/octicons_gem/pkg
  helper:
    runs-on: ubuntu-latest
    needs: gem
    steps:
      - uses: actions/checkout@master
      - uses: actions/download-artifact@master
        with:
          name: octicons
          path: ./lib/build
      - uses: actions/download-artifact@master
        with:
          name: octicons_gem
          path: ./lib/octicons_helper/vendor/cache
      - uses: ./.github/actions/build_ruby
        env:
          RUBYGEMS_TOKEN: ${{ secrets.RUBYGEMS_TOKEN }}
        with:
          args: octicons_helper
  angular:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@master
      - uses: actions/download-artifact@master
        with:
          name: octicons
          path: ./lib/build
      - uses: ./.github/actions/build_node
        env:
          NPM_AUTH_TOKEN_SHARED: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
        with:
          args: octicons_angular
